 {% extends "main/base.html" %}

 

 {% block content %}

    <div class="card">
        <strong>
            <p>Обновить задачу {{user}}</p>
        </strong>
        <div class="card-body">
            <p> <strong>ID: </strong>{{task.id}}</p> 

            <p> <strong>Название: </strong>{{task.title}}</p> 

            <p> <strong>Завершено: </strong>{{task.completed|yesno:'Yes,No'}}</p> 
            <p> <strong>Дата создания: </strong>{{task.created}}</p> 

        </div>
    </div>
    <br>
    <a href="{% url 'main:dashboard' %}" class="btn btn-secondary">Вернуться</a>

    &nbsp; 

    <a href="{% url 'main:update-task' task.id %}" class="btn btn-info">Обновить</a>

    &nbsp;

    <a href="{% url 'main:delete-task' task.id %}" class="btn btn-danger">Удалить</a>


 
 {% endblock content %}